html ,body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000410;
  padding: 0;
}

.cont {
  width: 99vw;
  height: 125px;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #222222;
  border: none;
  outline: none;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
}

.input {
  background: transparent;
  border: none;
  outline: none;
}